{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>sign in</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/account.css' %}">
  
</head>
<body>
    <h2>Welcome to Prof ELLY Rabbit Empire</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/accounts/account/" method="post">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" name="first_name" placeholder="First name" required id="first_name"/>
			<input type="text" name="last_name" placeholder="Last name" required id="last_name"/>
			<input type="text" name="username" placeholder="Userame" required id="username"/>
			<input type="email" name="email" placeholder="Email" required id="email"/>
			<input type="password" name="password" placeholder="Password" required id="password" />
			<button>Sign Up</button>
		
            <div>
			{% for message in messages %}
		    {{message}}
		    {% endfor%}
			</div>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/accounts/login/" method="post">
			{% csrf_token %}
		
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text"  name="username" placeholder="Username" required id="username" />
			<input type="password" name="password" placeholder="Password" required id="password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and explore with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
                <script src="{% static 'js/account.js' %}"></script>
</body>
</html>